*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

doc/sphinx/build/

install2
install3

trash/
tests/

src/sfml/system/__pycache__/
src/sfml/window/__pycache__/
src/sfml/graphics/__pycache__/
src/sfml/audio/__pycache__/
src/sfml/network/__pycache__/

build/
