*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

build/
dist/
src/pySFML.egg-info/
.eggs/

.deps/
.venv-build/
.venv-wheel/
.venv-sdist/
.pytest_cache/

install*

trash/

__pycache__
*.pyc
*.cpp
*.h

*.egg-info/
