*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

doc/sphinx/build/

install2
install3

trash/

sfml/system/__pycache__/
sfml/system/system.cpp

sfml/window/__pycache__/
sfml/window/window.cpp

sfml/graphics/__pycache__/
sfml/graphics/graphics.cpp

sfml/audio/__pycache__/
sfml/audio/audio.cpp

sfml/network/__pycache__/
sfml/network/network.cpp

build/
